<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body>
	<div class="container-fluid">

		<% include ../partials/menu %>

		<div class="row">
			<div class="col-md-12">

				<!-- ! practice using text files (writing + reading in JS + using blobs in MySQL) form -->
				<form action="/create_challenges/new_challenge" method="post">
					<!-- submit button -->
					<button type="submit" value="Create New Challenge">CREATE NEW CHALLENGE</button>
				</form>

			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				
				<% if (typeof challenges_to_display === "undefined") { %>
					<h1>No Active Challenges</h1>
				<% } else { %>
					
					<table id="active_challenges">

						<tr>
							<th>Challenge Title</th>
							<th>Challenge Description</th>
							<th></th>
						</tr>

						<!-- create RAM (memory locations from 00 to 99) -->
						<% challenges_to_display.forEach((element, index) => { %>
							<tr>
								<td>
									<%= element.split('\n')[1].toString() %>
								</td>
								<td>
									<%= element.split('\n')[3].toString() %>
								</td>
								<td>
									<form action="/create_challenges/edit/<%= index.toString() %>" method="post">
										<button type="submit" value="edit_<%= index.toString() %>">Edit</button>
									</form>
								</td>
								<td>
									<form action="/create_challenges/delete/<%= index.toString() %>" method="post">
										<button type="submit" value="delete_<%= index.toString() %>">Delete</button>
									</form>
								</td>
							</tr>
						<% }); %>
					</table>

				<% } %>

			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
		
				<div class="row">
					<div class="col-md-6">
		
						<form action="/create_challenges/assign" method="POST" id="assign_challenge_form">

							<span>Assign</span>

							<select id="assign_challenge_dd" name="assign_challenge_dd" required>
								<option value="" selected hidden>select your challenge</option>
							
								<% let challenge_titles=[]; %>
								<% challenges_to_display.forEach((element, index)=> { %>
									<% challenge_titles.push(element.split('\n')[1].toString()); %>
								<% }); %>
							
								<% if (typeof challenge_titles==="undefined" ) { %>
								
									<option value="no_challenge">you haven't created any challenges</option>
								
								<% } else { %>
								
									<% for (var challenge_titles_counter=0; challenge_titles_counter < challenge_titles.length; challenge_titles_counter++) { %>
										<option value="<%= challenge_titles[challenge_titles_counter] %>">
											<%= challenge_titles[challenge_titles_counter] %>
										</option>
									<% } %>

								<% } %>
							</select>

							<span>to:</span>
		
						</form>
					
					</div>
		
					<div class="col-md-6"></div>
				</div>
			
			</div>
		</div>
		
		
		
		
		







		
	</div>
</body>

<% include ../partials/script %>

</html>
