<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
	<% include ./partials/script %>
	<% include ./partials/style %>
	<% include ./partials/head %>
</head>

<body>
	<div class="container-fluid">

		<% include ../partials/menu %>

		<div class="row">
			<div class="col-md-12">

				<form action="/create_challenges/new_challenge" method="post">
					<!-- submit button -->
					<button type="submit" value="Create New Challenge">CREATE NEW CHALLENGE</button>
				</form>

			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				
				<% if (typeof challenges_to_display === "undefined") { %>
					<h4><a href="../create_challenges">Reload</a> Page</h4>
				<% } else  { %>
					<% if (challenges_to_display.length == 0 || challenges_to_display == []) { %>
						<h4>No Challenges Created Yet</h4>
					<% } else { %>
					
						<table id="active_challenges">

							<tr>
								<th>Challenge Title</th>
								<th>Challenge Description</th>
								<th></th>
							</tr>

							<% challenges_to_display.forEach((element, index) => { %>
								<tr>
									<td>
										<%= element[0].split('\n')[1].toString() %>
									</td>
									<td>
										<%= element[0].split('\n')[3].toString() %>
									</td>
									<td>
										<form action="/create_challenges/edit/<%= element[1].toString() %>" method="post">
											<button type="submit" value="edit_<%= element[1].toString() %>">Edit</button>
										</form>
									</td>
									<td>
										<form action="/create_challenges/delete/<%= element[1].toString() %>" method="post">
											<button type="submit" value="delete_<%= element[1].toString() %>">Delete</button>
										</form>
									</td>
								</tr>
							<% }); %>
						</table>
					
					<% } %>
				<% } %>

			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
		
				<form action="/create_challenges/assign" method="POST" id="assign_challenge_form">

					<div class="row">
						<div class="col-md-6">
							<% if (typeof challenges_to_display==="undefined" ) { %>
							
							<% } else { %>
								<span>Assign</span>

								<select id="assign_challenge_dd" name="assign_challenge_dd" required>
									<option value="" selected hidden>select your challenge</option>	
									<% var challenge_titles=[]; %>
									<% challenges_to_display.forEach((element, index)=> { %>
										<% challenge_titles.push(element[0].split('\n')[1].toString()); %>
									<% }); %>

									<% if (typeof challenge_titles==="undefined" ) { %>
									
										<option value="no_challenge">you haven't created any challenges</option>
									
									<% } else { %>
									
										<% for (var challenge_titles_counter=0; challenge_titles_counter < challenge_titles.length; challenge_titles_counter++) { %>
											<option value="<%= challenge_titles[challenge_titles_counter] %>">
												<%= challenge_titles[challenge_titles_counter] %>
											</option>
										<% } %>

									<% } %>
								</select>

								<span>to:</span>
							
							<% } %>

						</div>

						<div class="col-md-6"></div>
					</div>

					<% if (typeof class_students==="undefined" ) { %>
						
					<% } else { %>
						<!-- DROPDOWN FOR CLASSES WITH STUDENTS -->
						<% class_students.forEach((element, index)=> { %>
							<div class="row">

								<div class="col-md-6">
				
									<select id="class_<%= element[0].toString() %>" data-placeholder="select <%= element[0].toString() %> students" multiple class="chosen-select">
				
										<% if (element[2].length===0 || !element[2].length) { %>
											<option value="" disabled>no students in this class</option>
										<% } else { %>
											<% element[2].toString().split(',').forEach((element_2, index_2)=> { %>
												<option value="<%= element_2 %>" class="students">
													<%= element_2 %>
												</option>
											<%}); %>
										<% } %>
				
									</select>

								</div>

								<% if (element[2].length === 0 || !element[2].length) { %>
									<div class="col-md-3"></div>
									<div class="col-md-3"></div>
								<% } else { %>
									<div class="col-md-3">
										<button type="button" id="select_all_<%= element[0].toString() %>" class="chosen-toggle select" onclick="select_all('<%- index.toString() %>')">Select all</button>
									</div>
									<div class="col-md-3">
										<button type="button" class="chosen-toggle deselect" onclick="deselect_all('<%- index.toString() %>')">Deselect all</button>
									</div>
								<% } %>

							</div>
						<% }); %>
					<% } %>

					<div class="row">
						
						<div class="col-md-3"></div>
						
						<div class="col-md-3">
							<span>for: </span>
							<input id="due_date" type="datetime-local" name="due_date" required />
						</div>

						<div class="col-md-6"></div>

					</div>

					<!-- submit button -->
					<div class="row">
						<div class="col-md-3">
							<button type="submit">ASSIGN</button>
						</div>
						<div class="col-md-9"></div>
					</div>

					<!-- error message -->
					<% if (message.error) { %>
						<div class="alert alert-danger" role="alert">
							<strong>
								<%= message.error %>
							</strong>
						</div>
					<% } %>

					<% if (message.success) { %>
						<div class="alert alert-success" role="alert">
							<strong>
								<%= message.success %>
							</strong>
						</div>
					<% } %>

					<div class="row" hidden aria-hidden="true">
						<div class="col-md-12">
							<label for="class_students">class_students</label>
							<textarea id="class_students" name="class_students"><% class_students.forEach((element, index) => { %><%= element + '\n'%><%}); %></textarea>
						</div>
					</div>

					<div class="row" hidden aria-hidden="true">
						<div class="col-md-12">
							<label for="challenge_title_match_id">challenge_title_match_id</label>
							<textarea id="challenge_title_match_id" name="challenge_title_match_id"><%- challenge_title_match_id %></textarea>
						</div>
					</div>

					<div class="row" hidden aria-hidden="true">
						<div class="col-md-12">
							<label for="challenges_to_display">challenges_to_display</label>
							<textarea id="challenges_to_display" name="challenges_to_display"><%- challenges_to_display %></textarea>
						</div>
					</div>

					<div class="row" hidden aria-hidden="true">
						<div class="col-md-12">
							<label for="students_selected_2">SELECTED STUDENTS TO ASSIGN CHALLENGE TO</label>
							<textarea id="students_selected_2" name="students_selected_2"></textarea>
						</div>
					</div>

					<!-- hidden to be retrievable in js file -->
					<div class="row" hidden aria-hidden="true">
						<div class="col-md-12">
							<label for="challenge_title_match_id">SELECTED CHALLENGE TO ASSIGN ID</label>
							<% if (typeof challenges_title_match_id==="undefined" ) { %>
								<textarea id="challenge_title_match_id" name="challenge_title_match_id"></textarea>
							<% } else { %>
								<textarea id="challenge_title_match_id" name="challenge_title_match_id"><% challenge_title_match_id.forEach(element => { %><%= element[0] + 'thisisaveryspeficbreak' + element[1] + 'thisisaveryspeficbreak' %><% }); %></textarea>
							<% } %>
						</div>
					</div>

				</form>
			
			</div>
		</div>
		
	</div>
</body>

<% include ../partials/script %>

</html>
