<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body>
	<div class="container-fluid">

		<% include ../partials/menu %>

			<div class="row">
				<div class="col-md-12">

					<form action="/create_challenges/edit/update" method="post">

						<!-- challenge title -->
						<div class="row">
							<div class="col-md-12">
								<label for="challenge_title">CHALLENGE TITLE</label>
								<textarea id="challenge_title" name="challenge_title" wrap="off"
									placeholder="Generic Challenge Title" required
									style="overflow-y: scroll; height: 1.5em; width: 100%;"><%= challenge_title %></textarea>
							</div>
						</div>

						<!-- challenge description -->
						<div class="row">
							<div class="col-md-12">
								<label for="challenge_description">CHALLENGE DESCRIPTION</label>
								<!-- <input type="text" id="challenge_description" name="challenge_description" placeholder="Generic Challenge Description" required style="height: 20em;" /> -->
								<textarea id="challenge_description" name="challenge_description" wrap="off"
									placeholder="Generic Challenge Description" required
									style="overflow-y: scroll; height: 20em; width: 100%;"><%= challenge_description %></textarea>
							</div>
						</div>

						<!-- submit button -->
						<button type="submit" value="Update">UPDATE</button>

						<!-- hidden to be retrievable in js file -->
						<div class="row" hidden aria-hidden="true">
							<div class="col-md-12">
								<label for="challenge_file_id">CHALLENGE FILE ID</label>
								<textarea id="challenge_file_id" name="challenge_file_id"><%= challenge_file_id %></textarea>
							</div>
						</div>

						<!-- hidden to be retrievable in js file -->
						<div class="row" hidden aria-hidden="true">
							<div class="col-md-12">
								<label for="challenge_title_og">CHALLENGE TITLE</label>
								<textarea id="challenge_title_og" name="challenge_title_og" wrap="off" placeholder="Generic Challenge Title" required
									style="overflow-y: scroll; height: 1.5em; width: 100%;"><%= challenge_title %></textarea>
							</div>
						</div>
						
						<!-- hidden to be retrievable in js file -->
						<div class="row" hidden aria-hidden="true">
							<div class="col-md-12">
								<label for="challenge_description_og">CHALLENGE DESCRIPTION</label>
								<textarea id="challenge_description_og" name="challenge_description_og" wrap="off"
									placeholder="Generic Challenge Description" required
									style="overflow-y: scroll; height: 20em; width: 100%;"><%= challenge_description %></textarea>
							</div>
						</div>

					</form>

					<% if (message.error) { %>
						<div class="alert alert-danger" role="alert">
							<strong>
								<%= message.error %>
							</strong>
						</div>
						<% } %>

							<% if (message.success) { %>
								<div class="alert alert-success" role="alert">
									<strong>
										<%= message.success %>
									</strong>
								</div>
								<% } %>

				</div>
			</div>
</body>

<% include ../partials/script %>

</html>
