<div class="row">

	<div class="col-md-2">
		<span>Assembly Code Editor</span>
	</div>
	
	<div class="col-md-4">
		<span>Processor</span>
	</div>
	
	<div class="col-md-1"></div>
	
	<div class="col-md-5">
		<span>RAM</span>
	</div>

</div>

<div class="row" id="main_visualisation_wrapper_row_1">

	<div class="col-md-2">
		<div id="code_wrapper">
			<div class="line-numbers col-md-2 scroll_together">
				<span></span>
			</div>
			<div class="scroll_together" id="code_area" contenteditable="true"><div>LDR R1, 23</div></div>
			<!-- <textarea class="scroll_together" id="code_area" rows=27 wrap="off">LDR R1, 23</textarea> -->
		</div>
	</div>

	<div class="col-md-4">
		<div id="CPU_wrapper">

			<div class="row">
				<div class="col-md-4">
					<span id="general_registers_title">General Purpose Registers</span>
				</div>
				<!-- <div class="col-md-4"></div>
				<div class="col-md-4"></div> -->
			</div>

			<div class="row">

				<div class="col-md-4" id="general_register_wrapper">
					<!-- create General Purpose Registers (from 0 to 9) -->
					<% for (var i = 0; i < 10; i++) { %>
						<div id="register_<%= i %>_wrapper">
							<tr>
								<td>Register <%= i.toString() %><input readonly id="general_register_<%= i %>" type="text" value="000" /></td>
							</tr>
						</div>
					<% } %>
				</div>
					
				<div class="col-md-4" id="CPU_column_2">

					<div id="ALU_wrapper">
						Arithemtic Logic Unit
						<input readonly id="ALU" type="text" value="" />
					</div>
					
					<div id="accumulator_wrapper">
						Accumulator
						<input readonly id="accumulator" type="text" value="00" />
					</div>

					<div id="PC_wrapper">
						Program Counter
						<input readonly id="PC" type="text" value="00" />
					</div>

					<div id="decode_unit_wrapper">
						Decode Unit
						<input readonly id="decode_unit" type="text" value="" />
					</div>

					<div id="CIR_wrapper">
						Current Instruction Register
						<input readonly id="CIR" type="text" value="00" />
					</div>

				</div>

				<div class="col-md-4" id="CPU_column_3">

					<div id="MAR_wrapper">
						Memory Address Register
						<input readonly id="MAR" type="text" value="00" />
					</div>
					
					<div id="status_register_wrapper">
						Status Register
						<input readonly id="status_register" type="text" value="00" />
					</div>
					
					<div id="control_unit_wrapper">
						Control Unit
						<input readonly id="control_unit" type="text" value="" />
					</div>
					
					<div id="clock_wrapper">
						Clock
						<input readonly id="clock" type="text" value="" />
					</div>
					
					<div id="MBR_wrapper">
						Memory Buffer Register
						<input readonly id="MBR" type="text" value="000" />
					</div>

				</div>

				</div>
		</div>
	</div>

	<div class="col-md-1"></div>
	
	<div class="col-md-5">
		<div id="RAM_wrapper">
			
			<table id="RAM">
				<!-- create RAM (memory locations from 00 to 99) -->
				<% for (var i = 0; i < 10; i++) { %>
					<tr>
						<% for (var j = 0; j < 10; j++) { %>
							
							<% var k = (i * 10) + j %>
							<% var k_str = k.toString() %>

							<%# for memory locations 0-9, we want to display 00, 01, etc. %>
							<% while (k_str.length < 2) { %>
								<% k_str = '0' + k_str %>
							<% } %>

							<td id="memory_<%= k_str %>_wrapper"><%= k_str %><input id="memory_location_<%= k %>" type="text" value="000" /></td>

						<% } %>
					</tr>
				<% } %>
			</table>
		</div>

	</div>
</div>

<div class="row" id="second_title_text_row">
	
	<div class="col-md-6">
		<span>User Controlbox for Visualisation</span>
	</div>
	
	<div class="col-md-3">
		<span>FDE Cycle Output</span>
	</div>

	<div class="col-md-3" id="verbose_output_title">
		<span>Verbose Output</span>
	</div>

</div>

<div class="row" id="main_visualisation_wrapper_row_2">

	<div class="col-md-6" id="controlbox_wrapper">
		<div class="row">

			<div class="col-md-3">
				<div id="input_wrapper">
					<tr>
						<td>Input<input id="input" type="text" value="00" /></td>
					</tr>
				</div>
			</div>

			<div class="col-md-9" id="controlbox_top_two_rows_column_2">
				<div class="row" id="controlbox_row_1_column_2">

					<div class="col-md-3" id="upload_program_wrapper">
						<button id="upload_program" onclick="upload_program(LMC)">Upload Program</button>
					</div>

					<div class="col-md-3" id="reset_RAM_wrapper">
						<button id="reset_RAM" onclick="reset_RAM(LMC)">Reset RAM</button>
					</div>
					
					<div class="col-md-3" id="load_into_RAM_wrapper">
						<button id="load_into_RAM" onclick="load_into_RAM(LMC)">Load into RAM</button>
					</div>
					
					<div class="col-md-3" id="run_program_wrapper">
						<button id="run_program" onclick="run_program()">Run Program</button>
					</div>

				</div>

				<div class="row" id="controlbox_row_2_column_2">
				
					<div class="col-md-4" id="clear_editor_wrapper">
						<button id="clear_editor" onclick="clear_editor()">Clear Editor</button>
					</div>

					<div class="col-md-4" id="pre-created_programs_wrapper">
						<select id="pre-created_programs" name="pre-created_programs">
							<option value="" selected hidden>Pre-created Programs</option>
							<option value="add" id="opt_1">add</option>
							<!-- TODO: all pre-created programs (either files from public or other directory, or perhaps from database (files seems most reasonable as I will have to figure out upload eventually)) -->
						</select>
					</div>
				
					<div class="col-md-4" id="step_program_wrapper">
						<button id="step_program" onclick="step_program()">Step Program</button>
					</div>
				
				</div>
			</div>

		</div>

		<div class="row">
		
			<div class="col-md-3">
				<div id="output_wrapper">
					<tr>
						<td>Output<input readonly id="output" type="text" value="01" /></td>
					</tr>
				</div>
			</div>
		
			<div class="col-md-9" id="controlbox_bottom_two_rows_column_2">

				<div class="row" id="how_to_use_this_resource_wrapper">
					<button id="how_to_use_this_resource" onclick="open_link_new_tab('how_to_use')">How to Use this Resource</button>
				</div>

				<div class="row" id="view_instruction_set_wrapper">
					<button id="view_instruction_set" onclick="open_link_new_tab('instruction_set')">View Instruction Set</button>
				</div>

			</div>
		
		</div>
	</div>

	<div class="col-md-3">
		<div id="FDE_output_wrapper">
			<textarea id="FDE_output" wrap="on">Output of FDE cycle</textarea>
		</div>
	</div>

	<div class="col-md-3">
		<div id="verbose_output_wrapper">
			<textarea id="verbose_output" wrap="on">Verbose Output</textarea>
		</div>
	</div>

</div>

<!-- <button onclick="test_onclick(LMC)">Click me</button>
<p id="test_p"></p> -->

<% include ./lmc_script %>

