<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
	<% include ./partials/script_toggle %>
</head>

<body>
	<div class="container-fluid">

		<% include ../partials/menu %>
		
		<% if (typeof all_completed_challenges === "undefined" && typeof all_missed_challenges === "undefined" && typeof all_challenges_to_do === "undefined") { %>
			<h4>Go back to the <a href="../">Home</a> Page</h4>
		<% } else { %>

			<!-- CHALLENGES TO DO -->
			<div class="row">
				<div class="col-md-12">
			
					<div class="row justify-content-center">
						<div class="col-md-12">
							<div class="card" style="margin-top: 0.5em;">
			
								<div class="card-header" style="background-color: #ADD8E6;">
									<div class="row">
										<div class="col-md-4">
											<h5 style="vertical-align: middle; line-height: 1.5; margin-top: 0.1em;">Challenges to Complete</h5>
										</div>
										<div class="col-md-5"></div>
										<div class="col-md-3">
											<button class="btn btn-secondary switch_to_student" onclick="toggle_display_challenges()" style="float: right;" id="display_challenges_toggle">Hide Challenges</button>
										</div>
									</div>
								</div>
			
								<div class="card-body" id="active_challenges_card_body" style="background-color: #ADD8E6;">
			
									<% if (typeof all_challenges_to_do === "undefined" || all_challenges_to_do.length == 0 || all_challenges_to_do == []) { %>
										<h5>No Challenges set</h5>
									<% } else { %>

										<table style="width: 100%;" id="active_challenges">
										
											<tr>
												<th>Challenge Title</th>
												<th>Challenge Description</th>
												<th>Due Date</th>
												<th></th>
											</tr>

											<% all_challenges_to_do.forEach((element, index)=> { %>
												<tr>
													<td style="word-wrap: break-word;">
														<%= element[0].split('\n')[1].toString() %>
													</td>
													<td style="word-wrap: break-word;">
														<%= element[0].split('\n')[3].toString() %>
													</td>
													<td>
														<%= element[2].toString() %>
													</td>
													<td>
														<form action="/view_set_challenges/complete_challenge/<%= element[1].toString() %>" method="post">
															<button type="submit" value="complete_challenge_<%= element[1].toString() %>" class="btn btn-secondary switch_to_teacher">Complete Challenge</button>
														</form>
													</td>
												</tr>
											<% }); %>
											
										</table>

									<% } %>
			
								</div>
			
							</div>
						</div>
					</div>

				</div>
			</div>

			<!-- CHALLENGES FINISHED IN TIME -->
			<div class="row">
				<div class="col-md-12">

					<div class="row justify-content-center">
						<div class="col-md-12">
							<div class="card" style="margin-top: 0.5em;">
					
								<div class="card-header" style="background-color: #E6E6FA;">
									<div class="row">
										<div class="col-md-4">
											<h5 style="vertical-align: middle; line-height: 1.5; margin-top: 0.1em;">Completed Challenges</h5>
										</div>
										<div class="col-md-5"></div>
										<div class="col-md-3">
											<button class="btn btn-secondary switch_to_student" onclick="toggle_display_completed()"
												style="float: right;" id="display_completed_toggle">Show Challenges</button>
										</div>
									</div>
								</div>
					
								<div class="card-body" id="completed_card_body" style="background-color: #E6E6FA;">
					
									<% if (typeof all_completed_challenges==="undefined" || all_completed_challenges.length==0 || all_completed_challenges==[]) { %>
										<h5>No Completed Challenges</h5>
									<% } else { %>
						
										<table style="width: 100%;" id="completed">
						
											<tr>
												<th style="width: 25%;">Challenge Title</th>
												<th style="width: 45%;">Challenge Description</th>
												<th style="width: 10%;">Due Date</th>
												<th style="width: 10%;">Completion Date</th>
												<th style="width: 10%;"></th>
											</tr>
						
											<% all_completed_challenges.forEach((element, index)=> { %>
												<tr>
													<td style="word-wrap: break-word;">
														<%= element[0].split('\n')[1].toString() %>
													</td>
													<td style="word-wrap: break-word;">
														<%= element[0].split('\n')[3].toString() %>
													</td>
													<td>
														<%= element[2].toString() %>
													</td>
													<td>
														<%= element[3].toString() %>
													</td>
													<td>
														<form action="/view_set_challenges/view_completed/<%= element[1].toString() %>" method="post">
															<button type="submit" value="view_completed_<%= element[1].toString() %>" class="btn btn-secondary switch_to_student">View Answer</button>
														</form>
													</td>
												</tr>
											<% }); %>
						
										</table>
							
									<% } %>
									
								</div>
					
							</div>
						</div>
					</div>			
			
				</div>
			</div>

			<!-- CHALLENGES NOT FINISHED IN TIME -->
			<div class="row">
				<div class="col-md-12">

					<div class="row justify-content-center">
						<div class="col-md-12">
							<div class="card" style="margin-top: 0.5em;">
					
								<div class="card-header" style="background-color: #FAA0A0;">
									<div class="row">
										<div class="col-md-5">
											<h5 style="vertical-align: middle; line-height: 1.5; margin-top: 0.1em;">Missed Challenges</h5>
										</div>
										<div class="col-md-4"></div>
										<div class="col-md-3">
											<button class="btn btn-secondary switch_to_student" onclick="toggle_display_missed()" style="float: right;" id="display_missed_toggle">Show Challenges</button>
										</div>
									</div>
								</div>
					
								<div class="card-body" id="missed_card_body" style="background-color: #FAA0A0;">
					
									<% if (typeof all_missed_challenges==="undefined" || all_missed_challenges.length==0 || all_missed_challenges==[]) { %>
										<h5>No Completed Challenges</h5>
									<% } else { %>
							
										<table style="width: 100%;" id="missed">
						
											<tr>
												<th>Challenge Title</th>
												<th>Challenge Description</th>
												<th>Due Date</th>
											</tr>
						
											<% all_missed_challenges.forEach((element, index)=> { %>
												<tr>
													<td style="word-wrap: break-word;">
														<%= element[0].split('\n')[1].toString() %>
													</td>
													<td style="word-wrap: break-word;">
														<%= element[0].split('\n')[3].toString() %>
													</td>
													<td>
														<%= element[2].toString() %>
													</td>
												</tr>
											<% }); %>
						
										</table>
							
									<% } %>
					
								</div>
					
							</div>
						</div>
					</div>
			
				</div>
			</div>

		<% } %>

	</div>
</body>

<% include ../partials/script %>

</html>
